body{
    background-color:grey;
    text-align:justify; 
}

.formulario
 {
    display:flex;
    flex-direction:column;
    margin-left:400px;
    margin-right:400px; 
    background-color:#eeeeee;

}

.botonVolver{
    padding:0px;
    margin-left:-800px;
    margin-bottom:-50px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: #AA6C39;    
    display:inline-block;
    padding: 0; 
    border:1px solid #ccc;  
    text-align: center;
   }
  
   .botonVolver:hover{
    background-color: #AA3939;    
   
  }   

.favorito
{
    width:608px;
    color:#57585a;
    margin-bottom:10px;
    margin-top:5px;  
}


.submit
{
    margin-top:20px;
    width: 610px;
    background-color:#eeeeee;
}

.estiloError{
    margin-bottom:-25px;
    margin-top:0px;
    padding:0px;
    color:red;
}


.estiloInput{
    width:900px;
    margin:0px;
    height:25px;

}

.estiloDiv {

    display:flex;
    flex-direction:column;
    font-size:20px;

}

.estiloDivUltimo {

    display:flex;
    flex-direction:column;
    font-size:20px;
    height: 300px;

}

.estiloLabel {

    display:flex;
    margin-left:95px;
    margin-top:30px;
    margin-bottom:10px;
}

.estiloSelect{
    width:900px;
    height:30px;
    margin-left:95px;
}

.estiloSelect2
{
    width:900px;
    height:30px;
    margin-left:95px;

}
.typeCard{
    margin-top:30px;
    margin-bottom:0px;
    margin-left:100px;
    font-size:20px; 
    display:flex;
    width:100px;
}

.boton:hover{
    background-color: #AA3939;    
   
  }   

.buttonSubmit{
    margin-top:50px;
    margin-bottom:50px;
    font-size:20px;
}

.estiloDivTypes {

    display:flex;
    width:900px;
    margin-top:-300px;
    margin-bottom:0px;
    margin-left:400px;

}



.TiposSeleccionadosEstilo {
    margin-top:50px;
     margin-left:100px;

  }
  
  .botonCierreTipo {
    cursor: pointer;
  }