body{
    background-color:grey;
}

.class1 {
    font-size:15px;
}

.NombreClass {
    display:flex;
    margin-bottom:-50px;
    justify-content:center
}

.className{
    margin-top:50px;

    margin-left:10px;

}

.classh1 {
    margin-top:22px;
    margin-left:20px;

    margin-bottom:0px;
}


.detailClass{
    background-color: #AA6C39;   
margin-top:50px;
margin-left:650px;
    width: 500px;
    height:900;
    padding:0px;
border:1px solid #ccc;  
box-shadow: 2px 2px 2px 2px #ccc;
font-size:20px;
}

.imagedetail {
    width:400px;
    margin-bottom:40px;
    margin-top:50px;
}

.boton{
    padding:0px;
    width:500px;
    margin-left:-115px;
    margin-top:20px;
    height: 50px;
    cursor: pointer;
    background-color: #AA6C39;    
    display:inline-block;
    padding: 0; 
    border:1px solid #ccc;  
    text-align: center;
   }
  
   .boton:hover{
    background-color: #AA3939;    
   
  }   